@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400|Montserrat:300,400,500');
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,700&display=swap');

// COLOR VARIABLES
$color-primary: #0b132b;
$color-primary-dark: #0e1938;
$color-secondary: #8a48a5;
$color-grey-light-1: #f9f7f6;
$color-grey-dark-1: #54483A;


// FONT VARIABLES
$font-primary: 'Raleway';
$font-display: 'Open Sans';