.search {
    padding: 150px 10px 0px 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 60px;

    &__title {
        padding: 10px;
        margin-bottom: 40px;

        h2 {
            font-family: $font-primary;
            font-size: 45px;
            letter-spacing: 1px;
            font-weight: 700;

            @media only screen and (max-width:$bp-medium) {
                font-size: 35px;
            }

            @media only screen and (max-width:$bp-small) {
                font-size: 25px;
            }
        }
    }

    &__inner {
        background-color: rgba($color-secondary, .5);
        padding: 20px 25px;
        border-radius: 4px;
        transition: background-color .3s ease-in-out;
    }

    &__content {
        padding-bottom: 50px;

        &--input {
            width: 500px;
            padding: 10px;
            font-size: 13px;
            font-family: $font-display;
            font-weight: 700;
            border: none;
            border-radius: 1px;
            margin-right: 10px;

            @media only screen and (max-width:$bp-small) {
                width: 300px;
            }

            &::placeholder {
                color: $color-grey-dark-1;
                font-size: 13px;
                font-weight: 400;
                font-family: $font-display;
            }

            &:focus {
                border: none;
                outline: none;
            }
        }
    }
}

#searchForm:focus-within .search__inner {
    background-color: rgba($color-secondary, 1);
}