.container {
    background-image: linear-gradient(to top, rgba($color-primary, .9), rgba($color-primary, .5)), url('https://i.ibb.co/LgXv86q/bg.jpg');
    background-position: bottom center;
    background-repeat: no-repeat;
    height: 100%;
}