.header {
    @include flexBetween;
    background: rgba($color-primary, .8);
    height: 60px;
    padding: 0 100px;
    z-index: 15;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    position: relative;


    &__logo {
        text-decoration: none;
        color: $color-grey-light-1;
        font-weight: 300;
        font-size: 16px;
        letter-spacing: 1px;
        line-height: 1.2;
        transition: color .2s ease-in-out;

        span {
            font-weight: 700;
            color: $color-secondary;
            transition: color .2s ease-in-out;
        }

        &:hover span {
            color: $color-grey-light-1;
        }

        &:hover {
            color: $color-secondary
        }
    }


    &__nav {
        display: flex;

        a,
        a:link,
        a:visited {
            text-decoration: none;
            font-size: 15px;
            line-height: 1.3;
            color: $color-grey-light-1;
            font-weight: 700;
            font-family: $font-display;
            padding: 0 12px;
            white-space: nowrap;
            cursor: pointer;
        }
    }

}

.navSearch {

    @media only screen and (max-width:$bp-medium) {
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
    }

    form {
        margin: 5px;
    }

    &__input {
        padding: 10px;
        width: 300px;
        border: none;
        border-radius: 3px;
        font-size: 14px;
        font-weight: 700;
        font-family: $font-display;

        @media only screen and (max-width:$bp-medium) {
            width: 100%;
        }


        &::placeholder {
            color: $color-grey-dark-1;
            font-size: 13px;
            font-weight: 400;
            font-family: $font-display;
        }
    }
}